In [20]:
# Dependencies and Setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import time

In [21]:
# Choose the executable path to driver
executable_path = {"executable_path": "/Users/jw/Desktop/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [22]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [23]:
html = browser.html
soup = bs(html, 'html.parser')

In [24]:
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print('...................................................')
print(news_p)

Mars Now
...................................................
The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

## JPL Mars Space Images - Featured Image

In [25]:
jpl_url = 'https://www.jpl.nasa.gov'
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [28]:
html = browser.html
image_soup = bs(html, 'html.parser')

In [35]:
image = image_soup.find_all('img')[3]['src']
image_url = jpl_url + image
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24272-640x350.jpg

## Mars Facts

In [36]:
facts_url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(facts_url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [37]:
# Create Mars Facts DF
mars_df = mars_facts[0]

mars_df.columns = ['Description', 'Value']

mars_df.set_index('Description', inplace=True)

mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers